<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <!-- menu -->
  <div th:replace="commons/menu :: menu" />

  <!-- formulario -->
  <form class="row g-3" th:action="@{/empleados/modificar}" method="post">
    
      <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${empleado.codigo}">

      <div class="col-md-3">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${empleado.nombre}" autofocus>
      </div>

      <div class="col-md-3">
        <label for="inputApellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" name="apellidos" th:value="${empleado.apellidos}">
      </div>

      <div class="col-5">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" th:value="${empleado.email}">
      </div>

      <div class="col-md-3">
        <label for="inputDni" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dni" name="dni" th:value="${empleado.dni}">
      </div>

      <div class="col-md-3">
        <label for="inputTelefono" class="form-label" >Teléfono</label>
        <input type="tel" class="form-control" id="telefono" name="telefono" th:value="${empleado.telefono}">
      </div>

      <div class="col-12">
        <label for="inputDireccion" class="form-label" >Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" th:value="${empleado.direccion}">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">editar</button>
      </div>

  </form>

  <!-- pie -->
  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>