<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <!-- menu -->
  <div th:replace="commons/menu :: menu" />

  <!-- formulario -->
  <form class="row g-3" th:action="@{/departamentos/modificar}" method="post">
    
      <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${departamento.codigo}">

      <div class="col-md-3">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${departamento.nombre}" autofocus>
      </div>
<!--
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="vip" name="vip" th:checked="${cliente.vip}">
          <label class="form-check-label" for="gridCheck" th:text="#{cliente.vip}">
            empleado
          </label>
        </div>
      </div>-->

      <div class="col-12">
        <button type="submit" class="btn btn-primary">editar</button>
      </div>

  </form>

  <!-- pie -->
  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>