<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <!-- menu -->
  <div th:replace="commons/menu :: menu" />

  <!-- formulario -->
  <form class="row g-3" th:action="@{/departamentos/modificar}" method="post">

    <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${departamento.codigo}">

    <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${departamento.codigo}">

    <div class="col-md-3">
      <label for="inputNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" th:value="${departamento.nombre}" autofocus>
    </div>

    <div class="row">
      <table class="table table-striped table-hover">
        <caption>Lista de empleados</caption>
        <thead>
          <tr>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="empleado : ${empleados}">
            <td colspan="2">
              <input type="checkbox" name="ck_empleados" th:value="${empleado.codigo}"
                th:checked="${empleado.checked}" />
              <label th:text="${empleado.nombre}"></label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">editar</button>
    </div>

  </form>

  <!-- pie -->
  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>