<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <!-- menu -->
  <div th:replace="commons/menu :: menu" />

  <!-- formulario -->
  <form class="row g-3" th:action="@{/contactos/modificar}" method="post">
    
      <input type="hidden" class="form-control" id="id" name="id" th:value="${contacto.id}">

      <div class="col-md-3">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${contacto.nombre}" autofocus>
      </div>

      <div class="col-5">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" th:value="${contacto.email}">
      </div>

      <div class="col-md-3">
        <label for="inputTelefono" class="form-label" >Teléfono</label>
        <input type="tel" class="form-control" id="telefono" name="telefono" th:value="${contacto.telefono}">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">editar</button>
      </div>

  </form>

  <!-- pie -->
  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>