<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="menu">
    <!-- menu principal -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" th:href="@{/productos/list}" href="productos.html"
                th:text="#{menu.productos}">Productos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/clientes/list}" th:text="#{menu.clientes}">Clientes</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/pedidos/lista}">Pedidos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/departamentos/list}">Departamentos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/empleados/list}">Empleados</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/proveedores/lista}" th:text="#{menu.proveedores}">Proveedores</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" th:href="@{/vendedores/lista}" th:text="#{menu.vendedores}">Vendedores</a>
            </li>
            -->

            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>

          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" th:href="@{/cesta/editar}" href="#">cesta</a>
           </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                &#127760;
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/login/bienvenido?lang_config=es}" href="#"
                  th:text="#{menu.idioma.espanol}">Español</a>
                <a class="dropdown-item" th:href="@{/login/bienvenido?lang_config=en}" href="#"
                  th:text="#{menu.idioma.ingles}">Inglés</a>
              </div>
            </li>
          </ul>

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" th:text="#{menu.buscar}">Search</button>
          </form>

          <a class="navbar-nav" th:href="@{/login/logout}" th:text="${session.usuario.nombre}" style="margin-left: 1em;"></a>
          
        </div>
      </div>
    </nav>
  </div>
</body>

</html>