<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header"/>
<body>
    <!-- menu -->
    <div th:replace="commons/menu :: menu"/>
    
    <!-- formulario -->
    <form class="row g-3" th:action="@{/proveedores/modificar}" method="post">

        <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${proveedor.codigo}">

        <div class="col-md-3">
          <label for="inputNombre" class="form-label" th:text="#{proveedor.nombre}">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" th:value="${proveedor.nombre}" autofocus>
        </div>

        <div class="col-md-3">
            <label for="inputApellidos" class="form-label" th:text="#{proveedor.apellidos}">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" th:value="${proveedor.apellidos}">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary" th:text="#{proveedor.editar}">editar</button>
        </div>

      </form>
    
    <!-- pie -->
    <div th:replace="commons/footer :: footer" class="container"/>
  
  </body>
  
  </html>