<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <!-- menu -->
  <div th:replace="commons/menu :: menu" />

  <!-- formulario -->
  <form class="row g-3" th:action="@{/clientes/modificar}" method="post">
    
      <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${cliente.codigo}">

      <div class="col-md-3">
        <label for="inputNombre" class="form-label" th:text="#{cliente.nombre}">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${cliente.nombre}" autofocus>
      </div>

      <div class="col-md-3">
        <label for="inputApellidos" class="form-label" th:text="#{cliente.apellidos}">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" name="apellidos" th:value="${cliente.apellidos}">
      </div>

      <div class="col-5">
        <label for="inputEmail" class="form-label" th:text="#{cliente.email}">Email</label>
        <input type="email" class="form-control" id="email" name="email" th:value="${cliente.email}">
      </div>

      <div class="col-md-3">
        <label for="inputDni" class="form-label" th:text="#{cliente.dni}">DNI</label>
        <input type="text" class="form-control" id="dni" name="dni" th:value="${cliente.dni}">
      </div>

      <div class="col-md-3">
        <label for="inputTelefono" class="form-label" th:text="#{cliente.telefono}">Teléfono</label>
        <input type="tel" class="form-control" id="telefono" name="telefono" th:value="${cliente.telefono}">
      </div>

      <div class="col-12">
        <label for="inputDireccion" class="form-label" th:text="#{cliente.direccion}">Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" th:value="${cliente.direccion}">
      </div>

      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="vip" name="vip" th:checked="${cliente.vip}">
          <label class="form-check-label" for="gridCheck" th:text="#{cliente.vip}">
            VIP
          </label>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary" th:text="#{cliente.editar}">editar</button>
      </div>

  </form>

  <!-- pie -->
  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>