<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header"/>

<body>
    <div th:replace="commons/menu :: menu"/>
    <h1 th:text="${bienvenido}">hola</h1>

    <h3>bienvenido</h3>

    <span sec:authorize="isAuthenticated()">
        Usuario: <span sec:authentication="name"></span>
        Roles: <span sec:authentication="principal.authorities"></span>
        <a href="@{/logout}">sign out</a>    
    </span>
    
    <div th:replace="commons/footer :: footer" class="container"/>

</body>
</html>