<!DOCTYPE html>
<html lang="es" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <!-- menu -->
  <div th:replace="commons/menu :: menu" />

  <!-- formulario -->
  <form class="row g-3" th:action="@{/notas/modificar}" method="post">
    
      <input type="hidden" class="form-control" codigo="codigo" name="codigo" th:value="${nota.codigo}">

      <div class="col-md-3">
        <label for="titulo" class="form-label">titulo</label>
        <input type="text" class="form-control" codigo="titulo" name="titulo" th:value="${nota.titulo}" autofocus>
      </div>

      <div class="col-5">
        <label for="fecha" class="form-label">fecha</label>
        <input type="text" class="form-control" codigo="fecha" name="fecha" th:value="${#dates.format(nota.fecha, 'dd/MM/YYYY')}">
      </div>

      <div class="col-md-3">
        <label for="descripcion" class="form-label" >descripcion</label>
        <input type="text" class="form-control" codigo="descripcion" name="descripcion" th:value="${nota.descripcion}">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">editar</button>
      </div>

  </form>

  <!-- pie -->
  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>